server:
  port: 8081
spring:
  application:
    name: order
  kafka:
    bootstrap-servers: localhost:9092
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    properties:
      jdbc:
        time_zone: UTC
  jackson:
    time-zone: UTC
logging:
  level:
    # kafka
    org.springframework.kafka: WARN
    org.apache.kafka: WARN
    kafka: WARN

#management:
#  tracing:
#    enabled: true
#    sampling:
#      probability: 1.0   # Always sample (for demo)
#    zipkin:
#      tracing:
#        endpoint: http://localhost:9411/api/v2/spans  # Jaeger Zipkin endpoint
